*{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(20, 62, 153);
}

:root{
    --col01: rgb(0,0,0);
    --col01: rgb(80,80,80);
    --col01: rgb(160,160,160);
    --col01: rgb(240,240,240);
    --border: solid 4px var(--col02);
}

h1{
    border: var(--border);
    color: var(--col02);
    border-radius: 10000000000px;
}

h2{
    border: var(--border);
    background-image: linear-gradient(to left,var(--col02), var(--col03));
    background-image: linear-gradient(red, blue);
}

.box{
    display: flex;
    flex-wrap: nowrap;
    height: 30vh;
    gap: 2rem;
    justify-content: center;
    
}

.box > div{
    background-color: orange;
    width: 15%;
    
}

#top{
    height: 60vh;
    margin-top: 6vh;
}

#bottom{
    height: 60vh;
    margin-top: 40vh;
}

.big{
    background-color: rgb(155, 211, 192);
    width: 80%;
    height: 100vh;
    margin-top: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}